<div class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">LEVERAGE YOUR PEOPLE WITH SIMPLICITY</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white mb-5">Your all-in-one HR Platform you and your people will love.
                    Eazio optimises your HR needs while boosting your people’s
                    productivity.</p>
                <a class="btn btn-xl text-white" (click)="redirectPage('/signin')">Login</a>
                <a class="ms-4 btn btn-xl text-white" (click)="redirectPage('/signup')">Create Account</a>
            </div>
        </div>
    </div>
</div>