<section class="container px-4 px-lg-3">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="font-poppin p-0 pt-md-5">
                <h1 class="signin-heading mt-5 mb-3 font-600">Sign Up to</h1>
                <h3 class="font-600 mb-5 signin-desc">Lorem Ipsum is simply</h3>
                <p class="font-size-17 mb-1">If you already have an account </p>
                <p class="font-size-17 mb-5">You can <a class="text-decoration-none text-purple ps-2 font-600"
                        [routerLink]="['/signin']">Login here !</a></p>
            </div>
        </div>
        <div class="col-sm-4 offset-sm-1 ps-lg-5">
            <form [formGroup]="form" class="font-poppin" (ngSubmit)="onSubmit()">
                <h3 class="signin-form-heading my-4 d-md-block d-none">Sign Up</h3>

                <input type="email" class="form-control mb-3 border-0 custom-input-style" placeholder="Enter Email"
                    formControlName="email">
                <div *ngIf="formSubmitted && form.get('email').invalid" class="error-msg">Invalid email format.</div>

                <input type="text" class="form-control mb-3 border-0 custom-input-style" placeholder="Create User name"
                    formControlName="username">
                <div *ngIf="formSubmitted && form.get('username').invalid" class="error-msg">Username is required.
                </div>

                <input type="text" class="form-control mb-3 border-0 custom-input-style" placeholder="Contact number"
                    formControlName="contactNumber">
                <div *ngIf="formSubmitted && form.get('contactNumber').invalid" class="error-msg">Contact number is
                    required.</div>

                <div class="input-group mb-3">
                    <input type="{{ passwordVisible ? 'text' : 'password' }}"
                        class="form-control border-0 custom-input-style" placeholder="Password" aria-label="Password"
                        aria-describedby="password-addon" formControlName="password"
                        (focusout)="onBlurConfirmPassword()">
                    <span class="input-group-text p-4 custom-input-style border-0" id="password-addon"
                        (click)="togglePasswordVisibility('password')">
                        <img src="../../../../assets/images/{{ passwordVisible ? 'visible.png' : 'invisible.svg' }}">
                    </span>
                </div>
                <div *ngIf="formSubmitted && form.get('password').invalid" class="error-msg">
                    Password is required and must be at least 6 characters long.
                </div>

                <div class="input-group mb-3">
                    <input type="{{ confirmPasswordVisible ? 'text' : 'password' }}"
                        class="form-control border-0 custom-input-style" placeholder="Confirm Password"
                        aria-label="Confirm Password" aria-describedby="confirm-password-addon"
                        formControlName="confirmPassword" (focusout)="onBlurConfirmPassword()">
                    <span class="input-group-text p-4 custom-input-style border-0" id="confirm-password-addon"
                        (click)="togglePasswordVisibility('confirmPassword')">
                        <img
                            src="../../../../assets/images/{{ confirmPasswordVisible ? 'visible.png' : 'invisible.svg' }}">
                    </span>
                </div>
                <div *ngIf="formSubmitted && form.get('confirmPassword').invalid" class="error-msg">
                    Confirm Password is required and must match the password.
                </div>
                <div *ngIf="form.hasError('passwordMismatch')" class="error-msg">Passwords do not match.</div>


                <button class="w-100 btn btn-lg custom-button-style py-3" type="submit">Register</button>

                <p class="mt-5 mb-3 text-grey text-center">or continue with</p>
                <ul class="d-flex justify-content-center gap-3 mt-5 p-0">
                    <li class="d-block text-decoration-none">
                        <a href="">
                            <img src="../../../../assets/images/Facebook.svg">
                        </a>
                    </li>
                    <li class="d-block text-decoration-none">
                        <a href="">
                            <img src="../../../../assets/images/apple.svg">
                        </a>
                    </li>
                    <li class="d-block text-decoration-none">
                        <a href="">
                            <img src="../../../../assets/images/google.svg">
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</section>